* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/***** heading *****/ 
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f5f5f5;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
 .header li a {
    text-decoration: none;
    color: #893700;
}
.header li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}
nav .logo {
    font-size: 0.5.rem;
    font-weight: bold;
    color:  #ff9f38;
    flex-grow: 1;
}
@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        min-height: 10vh;
    }
    .header li, .logo {
        margin: 5px;
    }
    
}
/***** banner *****/
.banner {
    background-image: url(banner.webp) ;
    background-size: cover;
    background-position: center;
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color:  #ff9f38;
    font-family: 'Josefin Sans';
}
.banner h2 {
    border-top: 5px solid #ff9f38;
    border-bottom: 5px solid #ff9f38;
}
.banner h1 {
    font-size: 6rem;
    margin-top: 30px;
}
@media screen and (max-width: 500px) {
    .banner h1 {
        font-size: 3rem;
        flex-direction: column;
    }
    
}
/***** content *****/ 
.content {
    padding: 20px;
    font-family: 'Josefin Sans';
    background-color: antiquewhite;
    padding: 10px 50px 10px 50px;
}
.photo {
    border: 1px solid #ff9f38;
    margin: 10px auto 30px auto;
    padding: 10px 20px 0px 20px;
    width: 55%;
    background-color: aliceblue;
}
.photo img {
    width: 100%;
    padding-bottom: 20px;
}
.note{
    color: #ff9f38;
    font-size: 1rem;
}
.picfirst {
    position: relative;
    margin-top: -5rem;
}
@media screen and (max-width: 500px) {
    .content {
        padding: 20px;
        font-size: 1rem;
        width: 100%;
    }
    .photo {
        width: 55%;
    }
}
.letter {
    font-size: 5rem;
    color: #ff9f38;
    float: left;
    font-family: cursive;
    bottom: 30px;
    padding: 0px 20px 0px 20px;
}
p {
    font-size: 1.3rem;
    padding: 20px 0px 20px 0px;
}
.quote{
    font-size: 1.5rem;
    font-size: 4.2rem;
    padding: 20px 0px 20px 0px;
    text-align: center;
    border-top: 5px solid #ff9f38;
    border-bottom: 5px solid #ff9f38;
    color: rgba(0,0,0,0.7);
    padding: 70px 0px 70px 0px;
}
/***** footer *****/ 
footer {
    background-color: #212121;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 50px 10px 50px;
}
.bottom p {
    color: #e6dfd8;
    font-size: 0.9rem;
}
footer .autorname {
    color: #506ac9f7;
    font-size: 1.3rem;
}
footer em {
    font-style: italic;
}
footer .picmain {
    width: 100%;
    margin-top: 10px;
    height: 400px;
}
footer p:last-child {
    padding-bottom: 0px;
}
@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        padding: 10px 50px 10px 50px;
    }
    footer .picmain {
        width: 50%;
        height: 200px;
    }
    
}